.navbar {
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
body {
    background-image: url("https://jooinn.com/images/school-building-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
/* Navbar links */
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#logo img{
    margin-left: -50px; 
}
#logo {
    position: absolute;
    margin-left: -50px; /* added */
    display: inline-block;
}
#student-picture {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
/* Dropdown button */
.dropdown {
    float: right;
    overflow: hidden;
    display: block;
}
.dropdown-left {
    float: left;
    overflow: hidden;
}
.dropdown-left .dropbtn-left {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-left:hover .dropdown-content {
    display: block;
}

.content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-section {
    padding-left: 150px;
    padding-right: 150px;
    background-color: white;
}
.secondary-section {
    background-color: white;
}
#user-stats {
    text-align: center;
    border-top: 0.5px solid black;
}

#user-stats h1 {
    font-size: 15px;
}
#user-stats p {
    border-top: 0.3px solid black;
}

.schedule {
    display: grid;
    background-color: white;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(14, 20px);
    gap: 10px;
    border: 2px solid black;
    max-width: 500px;
    max-height: 500px;
}

.timeline {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.timeline div {
    border-bottom: 1px solid black;
}
.events div {
    border-bottom: 1px solid black;
}

.events {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    display: flex;
}

.day {
    flex: 1;
    position: relative;
    border-left: 2px solid black;
}

.event {
    margin-left: 5px;
    position: absolute;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid black; /* add this line */
}

.event:hover {
    background-color: blue;
    color: white;
}

#due-box {
    width: 500px;
    height: 150px;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid black;
}
#due-box{
    padding-bottom: 10px;
}
