* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.carousel-item img {
    flex: 0.5;
    object-fit: contain;
    max-width: 450px;
    max-height: 400px;
}
.carousel-container {
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-show-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}
.carousel-wrapper {
    min-width: 850px;
    min-height: 550px;
    display: flex;
    margin: 0 0.5em 0 0.5em;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.carousel-item {
    padding: 15px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

.left-arrow,
.right-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.page-details {
    display: flex;
    padding: 25px;
    text-indent: 5px;
    justify-content: center;
}

.control-arrows {
    min-width: 32px;
    min-height: 32px;
    max-width: 64px;
    max-height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* Navbar links */
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}
#logo {
    position: absolute;
    display: inline-block;
    margin-left: -50px;
    left: 50%;
}
#logo img {
    display: inline;
    width: 64px;
    height: 64px;
}
#student-picture {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
/* Dropdown button */
.dropdown {
    float: right;
    overflow: hidden;
    display: block;
}
.dropdown-left {
    float: left;
    overflow: hidden;
}
.dropdown-left .dropbtn-left {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-left:hover .dropdown-content {
    display: block;
}

.content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-section {
    padding-left: 150px;
    padding-right: 150px;
    background-color: white;
}
.secondary-section {
    background-color: white;
}
#user-stats {
    text-align: center;
    border-top: 0.5px solid black;
}

#user-stats h1 {
    font-size: 15px;
}
#user-stats p {
    border-top: 0.3px solid black;
}



