* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.carousel-item img{
    flex: 0.5;
    object-fit: contain;
    max-width:450px;
    max-height:400px;
}
.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper {
    width: 500px;
    height: 400px;
    display: flex;
    margin: 0 0.5em 0 0.5em;
}

.carousel-item {
    padding:15px;
    border: 2px solid black;
    width: 100%;
    text-align: center;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
}

.page-details {
    display: flex;
    justify-content: center;
}
