* {
    margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Kanit:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

body {
    background-image: url("../images/sign-up.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#Menu {
    width: 100vw;
    height: 5vh;
}

#Display-Hangman {
    display: flex;
    height: 60vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 5vh;
    background-color: blue;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

#Interaction form {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5vh;
    margin-left: 10vw;
    width: 80vw;
    height: 10vh;
    justify-content: flex-start;
    align-items: center;
}

#Interaction input:nth-child(2) {
    text-align: center;
    width: 30%;
    height: 20%;
}

#Interaction input:nth-child(1) {
    margin-left: 3vw;
    width: 30%;
    height: 60%;
    margin-right: 2vw;
}
.list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
}

.list li {
    font-size: 25px;
}
#HeadToolBar {
    border-radius: 50px;
    position: absolute;
    top: 3vh;
    left: 2.5vw;
    width: 95vw;
    height: 7vh;
    background-color: #45a29e;
    opacity: 0.75;
    box-shadow: 5px 5px 5px 5px black;
    font-family: "Tilt Warp", cursive;
}
#LoginMain {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#LoginDis {
    border-radius: 50px;
    width: 20vw;
    height: 30vh;
    background-color: #45a29e;
    opacity: 0.8;
    border: 2px solid black;
    box-shadow: #2f3641;
    box-shadow: 5px 5px 5px 5px black;
}
#LoginDis form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#submitBtn {
    font-family: "Tilt Warp", cursive;
    color: white;
    background-color: #333333;
    width: 30%;
    height: 9%;
}
.opacity {
    opacity: 1;
}
#submitBtn:hover {
    transition: 1s;
    width: 35%;
    height: 11%;
    background-color: #45a29e;
    color: white;
}
label {
    font-size: 25px;
    font-family: "Tilt Warp", cursive;
}
input {
    margin: 5px;
    border-radius: 50px;
}

.Input {
    opacity: 1;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    opacity: 0.9;
    background-color: #333333;
    color: white;
    font-family: "Tilt Warp", cursive;
}
.Input:focus {
    width: 90%;
    height: 5%;
    opacity: 1;
    margin: 10px;
    box-shadow: 3px 3px white;
}
#HeadToolBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Displayer {
    color: black;
    font-size: 50px;
}
#background {
    width: 100vw;
    height: 100vh;
}
#LoginBtn {
    font-family: "Tilt Warp", cursive;
    position: absolute;
    color: white;
    top: 70vh;
    left: 47.5vw;
    width: 5vw;
    height: 3vh;
    background-color: #333333;
    border-radius: 50px;
}
#LoginBtn:hover {
    transition: 1s;
    height: 4vh;
    width: 7vw;
    left: 46.5vw;
    background-color: #45a29e;
    opacity: 0.8;
}

#ReturnBtn {
    color: white;
    border-radius: 50px;
    font-family: "Tilt Warp", cursive;
    position: absolute;
    bottom: 4vh;
    left: 5vw;
    width: 12vw;
    height: 4vh;
    background-color: #333333;
}

#ReturnBtn:hover {
    transition: 1s ease-in-out;
    height: 5vh;
    width: 13vw;
    background-color: #45a29e;
    opacity: 0.8;
}
@media only screen and (max-width: 600px) {
    #LoginDis {
        width: 20vw;
    }
}
