*{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
body {

    background-image : url("/Client/assets/images/ul0024-0651.jpg");
    background-size: cover;

}

#header{
    box-shadow: 5px 5px black;
    border-radius: 50px;
    position: absolute;
    top:4vh;
    left : 2.5vw;
    display: flex;
    flex-direction: column;
    width : 95vw;
    height : 5vh;
    justify-content: space-around;
    background-color: #ABEBD2;
    opacity: 0.9;
    align-items: center;
    font-family: 'Tilt Warp', cursive;
}
#DisplayBody{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100vw;
    height : 95vh;
}
#DisplayMusic {
    box-shadow: 10px 10px black;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    width : 40vw;
    height : 45vh;
    background-color: rgba(171, 235, 210,0.8)
}
.resultContainer{ 
    font-family: 'Tilt Warp', cursive;
    position: absolute;
    top : 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 60%;
    border-radius: 50px;
    height : 10%;
    background-color:#333333;

}

#startOverBtn {
    position: absolute;
    bottom: 12%;
    left: 5%;
}
#playPauseBtn{
    position: absolute;
    bottom: 12%;
}

#CheckBtn{
    position: absolute;
    bottom: 12%;
    right : 5%
}
.btn{
    border-radius: 50px;
    font-family: 'Tilt Warp', cursive;
    background-color: #ABEBD2;
    width: 20%;
    height : 20%;
}
.btn:hover{
    transition: 1s;
    background-color: #333333;
    box-shadow:  5px 5px white;
}
#answer {
    font-family: 'Tilt Warp', cursive;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    width : 60%;
    height : 5%;
}

#answer:focus{
    transition: 1s;
    top: 45%;
    box-shadow: 3px 3px black;
}