*{
  margin: 0;
}

#Menu {
  width : 100vw;
  height : 5vh;
  background-color: yellow;
}

#Display-Hangman{
  height: 60vh;
  width : 90vw;
  margin-left: 5vw;
  margin-top: 5vh;
  background-color : blue;
}

.list{
  display: flex;
  list-style-type: none;
}