*{
  margin: 0;
}

#Menu {
  width : 100vw;
  height : 5vh;
  background-color: yellow;
}

#Display-Hangman{
  height: 60vh;
  width : 90vw;
  margin-left: 5vw;
  margin-top: 5vh;
  background-color : blue;
}

#Interaction{
  display: flex;
  background-color : red;
  margin-top: 5vh;
  margin-left: 10vw;
  width : 80vw;
  height : 10vh;
justify-content: center;
align-items: center;
}

#Interaction input:nth-child(1){
  
}
.list{
  display: flex;
  list-style-type: none;
}