*{
  margin: 0;
}

#Menu {
  width : 100vw;
  height : 5vh;
  background-color: yellow;
}

#Display-Hangman{
  height: 60vh;
  width : 90vw;
  margin-left: 5vw;
  margin-top: 5vh;
  background-color : blue;
}

#Interaction{
  display: flex;
  flex-direction: row-reverse;
  background-color : red;
  margin-top: 5vh;
  margin-left: 10vw;
  width : 80vw;
  height : 10vh;
justify-content: flex-start;
align-items: center;
}

#Interaction input:nth-child(2){
  text-align: center;
  width : 30%;
  height: 20%;
}

#Interaction input:nth-child(1){
margin-left : 3vw;
width : 30%;
height :60%;
margin-right: 2vw;
}
.list{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
}

.list li {
  font-size: 25px;
}