*{
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Kanit:wght@300;400&display=swap');

#Menu {
  width : 100vw;
  height : 5vh;
  background-color: yellow;
}

h1{
  font-size: 25px;
  color : black;
  
}

#Display-Hangman{
  display: flex;
  height: 60vh;
  width : 90vw;
  margin-left: 5vw;
  margin-top: 5vh;
  background-color : blue;
  justify-content: flex-end;
  flex-direction: column-reverse;
}

#Interaction form{
  display: flex;
  flex-direction: row-reverse;
  background-color : red;
  margin-top: 5vh;
  margin-left: 10vw;
  width : 80vw;
  height : 10vh;
justify-content: flex-start;
align-items: center;
}

#Interaction  input:nth-child(2){
  text-align: center;
  width : 30%;
  height: 20%;
}

#Interaction  input:nth-child(1){
margin-left : 3vw;
width : 30%;
height :60%;
margin-right: 2vw;
}
.list{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
}

.list li {
  font-size: 25px;
}
#HeadToolBar {
  width : 100vw;
  height :10vh;
  background-color:red;
}
#LoginMain {
  display: flex;
  background-color: yellow;
  width: 100vw;
  height : 85vh;
  justify-content: center;
  align-items: center;
}

#LoginDis{
  border-radius: 50px;
  width: 40vw;
  height : 50vh;
  background-color: blue;
}
#LoginDis form:nth-child(1){
  height:100%;
  width:100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#submitBtn {
  margin-top: 5%;
  margin-bottom: 5%;

}
#submitBtn:hover{
  transition: 1s;
  background-color: black;
  color : white;
}
label{
 font-family: 'Dosis', sans-serif;
 font-family: 'Kanit', sans-serif;
}
input {
  margin: 5px;
  border-radius: 50px;
}

.Input {
  text-align: center;
  opacity: 0.9;
  background-color: #2F3641;
  color : white;
}

button{
  text-align: center;
  opacity: 0.9;
  background-color: #2F3641;
  color : white;
}
button:hover{
  transition: 1s;
  background-color: black;
  color : white;
}