*{
  margin: 0;
}

#Menu {
  position: absolute;
  top: 5vh;
  width : 100vw;
  height : 5vh;
  background-color: yellow;
}

h1{
  font-size: 25px;
  color : yellow;
  
}

#Display-Hangman{
  position: relative;
  display: flex;
  height: 50vh;
  width : 60vw;
  border-radius: 50px;
  background-color : blue;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#Interaction form{
  display: flex;
  flex-direction: row-reverse;
  background-color : red;
  margin-top: 5vh;
  margin-left: 10vw;
  width : 80vw;
  height : 10vh;
justify-content: flex-start;
align-items: center;
}

#Interaction  input:nth-child(2){
  text-align: center;
  width : 30%;
  height: 20%;
}

#Interaction  input:nth-child(1){
margin-left : 3vw;
width : 30%;
height :60%;
margin-right: 2vw;
}
#LoginDis {
  background-color: yellow;
  width: 100vw;
  height : 70vh;
}
#MainDis{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height :100vh;
}
#LettersLefts{
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute ;
  top:10%;
  background-color: white;
  width: 80%;
  height :10%;
}
#LettersLefts > h1{
  color :black;
}